@model Bank_transactions__system_1.Models.TransactionFilterViewModel 

<h1 class="text-dark">Transaction Details</h1>

<p>
    <a class="btn btn-info text-white" asp-action="Create">Create New</a>
</p>

<table class="table table-bordered table-active table-hover  m-2 p-2">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Transactions[0].Branch)</th>
            <th>@Html.DisplayNameFor(model => model.Transactions[0].Amount)</th>
            <th>@Html.DisplayNameFor(model => model.Transactions[0].TransactionType)</th>
            <th>@Html.DisplayNameFor(model => model.Transactions[0].TransactionDate)</th>
            @* <th>Actions</th> *@
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Transactions)
        {
            <tr>
                <td>@item.Branch?.BranchName</td>
                <td>@item.Amount</td>
                <td>@item.TransactionType.Name</td>
                <td>@item.TransactionDate</td>
               @*  <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                </td> *@
            </tr>
        }
    </tbody>  
</table>
<p class="fw-bold text-end">Total Amount: ₹@Model.TotalAmount</p>